.cardBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--foreground-card);
    font-size: 32px;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;
}

.cardHead {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.cardImage {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 15px;
    z-index: 10;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.cardTitle p:nth-child(1) {
    font-family: var(--font-koulen-regular);
    font-size: 3rem;
    color: white;
    line-height: 1;
}

.cardTitle p:nth-child(2) {
    font-family: var(--font-inika-regular);
    font-size: 1.5rem;
    color: var(--text-hint);
    line-height: 1;
}

.cardAction {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
}

.quantityIncrementor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.quantityIncrementor img {
    cursor: pointer;
}

.itemQuantity {
    font-family: var(--font-inika-regular);
    font-size: 32px;
    text-align: center;
    color: white;
    background-color: var(--foreground-box);
    border: 1px solid var(--text-hint);
    border-radius: 20px 20px 0 0;
    outline: 0;
    width: 4rem;
    height: 4rem;
}

@media screen and (width >=800px) {
    .cardImage {
        width: 256px;
    }

    .cardHead {
        flex-direction: row;
    }

    .cardBody {
        flex-direction: row;
    }
}