.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--foreground-card);
    font-family: var(--font-koulen-regular);
    font-size: 24px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #586951;
    position: relative;
    transition: 300ms all;
}

.card::before {
    content: "View Meal?";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    z-index: 9;
    transition: 300ms all;
}

.card:hover {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
    cursor: pointer;
    padding-top: 2rem;
    transition: 300ms all;
}

.card:hover::before {
    opacity: 1;
    transition: 300ms all;
}

.cardImage {
    width: 256px;
    height: 210px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 0.5rem;
    z-index: 10;
}

.cardTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardSubtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardPerks {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
    font-size: 20px;
}

.perkItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}