.page {
    color: white;
    font-family: var(--font-koulen-regular);
}

.main {
    margin: 1em;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.title p:nth-child(1) {
    font-family: var(--font-koulen-regular);
    font-size: 2.5rem;
}

.title p:nth-child(2),
.title p:nth-child(3) {
    font-family: var(--font-inika-regular);
    font-size: 1.5rem;
    opacity: 75%;
}

.checkoutContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2rem;
    margin-top: 1rem;
}

.checkoutContainer hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    opacity: 0.25;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    /* background-color: var(--foreground-card); */
    flex-grow: 1;
    padding: 2rem;
}

.subTotal {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.5rem;
    line-height: 1;
    color: var(--text-hint);
}

.subTotalItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
}

.subTotalTax {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1;
    font-size: 1rem;
    opacity: 0.75;
}

.subTotalVoucher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1;
    font-size: 1rem;
    opacity: 0.75;
}

.voucherPicker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
}

.notes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.notesTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
}

.notesTitle p:nth-child(2) {
    font-family: var(--font-inika-regular);
    font-size: 1rem;
    opacity: 75%;
}

.notes textarea {
    font-family: var(--font-inika-regular);
    font-size: 1.5rem;
    background-color: var(--foreground-box);
    color: white;
    border: 1px solid var(--text-hint);
    width: 100%;
    height: fit-content;
    padding: 1rem;
    resize: none;
}

.notes textarea::placeholder {
    color: var(--text-hint);
}

.notes textarea:focus {
    outline: 2px solid rgb(109, 199, 109);
}

.separator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.additionals {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.checkoutGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (width >=800px) {
    .separator {
        flex-direction: row;
    }
}

@media screen and (width >=700px) {
    .title p:nth-child(1) {
        font-size: 3rem;
    }

    .title p:nth-child(2),
    .title p:nth-child(3) {
        font-size: 2rem;
    }

    .total {
        font-size: 3rem;
    }

    .subTotalItem {
        font-size: 2rem;
    }

    .subTotalTax {
        font-size: 1.5rem;
    }

    .subTotalVoucher {
        font-size: 1.5rem;
    }

    .voucherPicker {
        font-size: 3rem;
    }

    .notesTitle {
        font-size: 3rem;
    }

    .notesTitle p:nth-child(2) {
        font-size: 1.5rem;
    }
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: var(--button-normal);
    color: white;
    font-family: var(--font-koulen-regular);
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 0;
    outline: 0;
    width: fit-content;
    height: fit-content;
}

.button:hover {
    background-color: var(--button-hover);
}

.button:active {
    background-color: var(--button-active);
}